# Node
/node_modules
npm-debug.log*
yarn-error.log*

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Angular
/.angular
/.angular/cache
/coverage
/testem.log
/typings

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# Visual Studio Code
.vscode/

# Miscellaneous
.sass-cache/
connect.lock
/libpeerconnection.log

# System files
.DS_Store
Thumbs.db